
header {
    color: #434343;
    background-color: #cecece;
    border-style: outset;
    border-width: 15px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}


aside {
    color: #434343;
    background-color: #cecece;
    border-style: outset;
    border-width: 15px;
    margin: 20px;
    padding: 10px;
    width: 200px;
    text-align: justify;
}

section  {
    color: #434343;
    background-color: #cecece;
    border-style: outset;
    border-width: 15px;
    margin: 20px;
    padding: 10px;
}



#unordered-list, #ordered-list, #description-list {
    color: #434343;
    background-color: #cecece;
    border-style: outset;
    border-width: 15px;
    margin: 20px;
    padding: 10px;
    width: 200px;
}

.video {
    color: #434343;
    background-color: #cecece;
    border-style: outset;
    border-width: 15px;
    margin: 20px;
    padding: 10px;
    max-width: 530px;
}

video {
    max-width: 530;
    min-width: 100px;
}

#text-form, #radio-form {
    color: #434343;
    background-color: #cecece;
    border-style: outset;
    border-width: 15px;
    margin: 20px;
    padding: 10px;
    width: 200px;
}

.input-text {
    border-style: solid;
    border-width: 1px;
    background-color: #f7f7f7;
}

footer {
    color: #434343;
    background-color: #cecece;
    border-style: outset;
    border-width: 15px;
    margin: 20px;
    padding: 10px;
}



a {
    text-decoration: none;
    font-size: 18px;
}

p, th, td {
    font-size: 20px;
}

h3 {
    font-variant: small-caps;
}

ul, ol, dl {
    list-style-position: inside;
}


































