main {
    height: 1500px;
}

.col_1 {
    float: left;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    
}

.col_2 {
    float: left;
    width: 40%;
    height: 100%;
    
    box-sizing: border-box;
    background-color: lightgray;
    text-align: center;
}


label {
    display: inline-block;
}

select {
    display: inline-block;
}

.blue_top {
    background-color: #416BC4;
    height: 50px;
}

.blue_bot {
    background-color: #416BC4;
    height: 50px;
    clear: both;
}

.main_result {
    height: 1300px;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: rgb(150, 1, 1);
    box-sizing: border-box;
    font-size: 12px;
}

.ad_tag {
    display: inline-block;
    margin-top: 100px;
}